.profile-img {
    float: right;
    margin: 20px;
    border-radius: 50%;
}

.icon-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    right: 3px;
}

#banner {
    padding: 85px 0;
}

#tipue_search_input {
    width: unset;
    height: unset;
    border-radius: unset;
}
