.profile-img {
    float: right;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 50%;
}

.icon-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    right: 3px;
}

a.masto-link {
    display:none;
}

#banner {
    padding: 85px 0;
}

#tipue_search_input {
    width: unset;
    height: unset;
    border-radius: unset;
}
